html {
	background: url(https://source.unsplash.com/VviFtDJakYk) no-repeat center center fixed;
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.fullscreen-hero{
	margin-bottom: 10rem;
}

section{
	margin-bottom: 10rem;
}

.hero-body{
	margin-top: 15rem;
	text-align: center;
	font-family: "Montserrat";
}

.title, .subtitle{ 
	color: #2c3e50;
}

.subtitle{
	line-height: 2;
}

hr{
	width: 20rem;
	text-align:center; 
	margin: 0 auto;
}

#resume{
	margin-top: 5%;
}

.next_button{
	color: #2c3e50;
}

.page-scroll{
	margin-top: 3%;
}

a.next_button:hover{
	opacity: 0.3;
}

#about_me-banner{
	margin-top: 2rem;
	background-color: rgba(248,248,248,0.7);
	height: 10rem;
	text-align: center;
	
}

.columns{
	margin-top: -1rem;
}

.about_me-content{
	margin-top: 2rem;
	background-color: rgba(248,248,248,0.7);
	height: 22rem;
	text-align: center;
}

#cdp{
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 2rem;
	position: relative;
	top: 3rem;
}

.about_me-image{
	float: left;
	width: 95%;
  	height: 100%;
  	background-size: cover;
  	background-position: center center;
}

#about_me-span{
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 1.5rem;
	width: 100%;
	height: 4rem;
	text-align: center;
	margin-top: 3rem;
}

.highlight{
	font-weight: 700;
}

#about_me-paragraph{
	font-family: "Montserrat";
	font-size: 1rem;
	font-weight: 500;
	width: 100%;
	height: 12rem;
	text-align: left;
	line-height: 2;
}

#bio{
	position: relative;
	top: 10%;
}

#about_me_next{
	margin-top: 0.2rem;
	height: 2.8rem;
	text-align: center;
}

#project-banner{
	margin-top: 5rem;
	background-color: rgba(248,248,248,0.7);
	height: 10rem;
	text-align: center;
}

#project_intro{
	margin-top: 5%;
	font-family: "Montserrat";
}

#project_intro .title, .subtitle{
	color: #2c3e50;
}

#project_intro h1{
	font-size: 2rem;
	font-weight: 700;
}

.project{
	background-color: rgba(248,248,248,0.7);
	height: 16rem;
	margin: 4rem 2rem auto 2rem;
	text-align: center;
}

#botzy{
	background-image: url(https://source.unsplash.com/D_kOW7iHNnw);
}

#stylecast{
	background-image: url(https://source.unsplash.com/UMe87yYt2JU);
}

#yt_search{
	background-image: url(https://source.unsplash.com/3rcT6_NjjbU);
}

.image{
	width: 100%;
  	height: 14.5rem;
  	background-size: cover;
  	background-position: center center;
  	opacity: 1;
	transition: 0.75s ease;
}

.thumbnail:hover .image{
	opacity: 0.2;
}

.project_name{
	position: relative;
	left: 9.5rem;
	bottom: 7rem;
    transform: translate(-50%, -50%);
	color: #2c3e50;
	font-size: 1em;
	font-weight: 700;
	opacity: 0;
	transition: 0.75s ease;
	font-weight: 400;
}

.project_title{
	font-weight: 700;
	font-size: 1.6em;
}


.thumbnail:hover .project_name{
	opacity: 1;
}

.msg{

	/*background-color: rgba(248,248,248,0.7);*/
	height: 3rem;
	margin-top: 2rem;
	text-align: center;
	font-size: 0.8rem;
	font-family: "Montserrat";
}

#year{
	float: right;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
    html{
	    background: #5DBCD2;
		-webkit-background-size: 100%; 
	    -moz-background-size: 100%; 
	    -o-background-size: 100%; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
    }

    .hero-body{
		margin-top: 10rem;

	}

	#resume{
		margin-top: 10%;
	}

	.page-scroll{
		margin-top: 6%;
	}
}
