body {
  font-family: "Montserrat";
}

.hero.is-dark a:not(.button):not(.dropdown-item):not(.tag):hover {
  color: #CC1D18;
}

#intro-block {
  margin: auto 0;
}

.definitions{
  display: none;
}​

.word {
  font-weight: 600;
}

.def {
  font-weight: 400;
  font-style: italic;
}

#portrait:hover {
  opacity: 20%;
}

.navigation {
  text-align: center;
}

.navigationItem {
  margin: auto;
}

.navigationItem:hover {
  opacity: 0.7;
}

#skills-intro {
  margin-top: 25px;
}

#skills-intro .title {
  color: #CC1D18;
}

#skills-cards {
  margin-top: 20px;
}

.skill-keyword {
  color: #CC1D18;
  font-weight: 600;
}

#resume {
  padding: 30px 20px;
  text-align: center;
}

#resume .subtitle {
  margin: 30px auto;
}

#contact {
  background-color: #CC1D18;
  text-align: center;
}

#contact-banner .subtitle{
  color: #F5F5F5;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

#contact-links {
  margin: 40px auto;
}

#contact-links a {
  color: #444444;
}

.icon-background, footer {
  color: #F5F5F5;
}

#back-to-top a{
  color: #F4F3F4;
}

#back-to-top a:hover {
  color: #444444;
}

footer .icon{
  color: #F5F5F5;
}
